/*******************************************************************/
body {
	margin: 0;
	padding: 0;
	font-family: "Arial";
}
/*******************************************************************/
.header {
	position: fixed;
	right: 0;
	z-index: 9;
}
.header-content {
	margin: 20px; /* искусственный padding, для width = 100% */
}
/*******************************************************************/
.footer {
	color: #fff;
	background-color: #353535;
	box-shadow: 0 0 8px rgba(0,0,0,0.5);
}
.footer-content {
	margin: 0 20vw;
	padding: 10px 0;
}
.footer-content .footer-content-left {
    float: left;
}
.footer-content .footer-content-right {
    float: right;
}
.footer-content-left a, span {
    text-decoration: none;
	font-family: Verdana;
    font-weight: bold;
	font-size: 1em;
	line-height: 1.5em;
    color: #ffffff;
	position: relative;
}
.footer-content-left a:hover {
	color: #666666;
}
.footer-content-right p {
    text-align: right;
	display: block;
    text-decoration: none;
	font-family: Verdana;
    /* font-weight: bold; */
	font-size: 1em;
    color: #ffffff;
    position: relative;
}
#address {
	margin: 0;
	padding: 0;
}
#version, #copyright {
	display: block;
    font-weight: 100;
	font-size: 0.8em;
}
#copyright {
	margin-top: 2.5em;
}
/*******************************************************************/
/*                              TOOLS                              */
/*******************************************************************/
.inline-flex {
	display: inline-flex;
}
.orange {
	color: #ff7f28;
}
.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome and Opera */
  }
/*******************************************************************/
#logo {
	margin: 20px;
	display: inline-flex;
	text-decoration: none;
	color: #ffffff;
}
#logo div {
	display: inline-block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #ffffff;
}
#logo span {
	display: inline-flex;
	top: 0;
	bottom: 0;
	margin: auto;
	margin-left: 10px;
	font-family: Impact;
	font-size: 20px;
}
/*******************************************************************/
.login-panel {
	display: inline-flex;
	float: right;
	border-radius: 50px;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.login-panel span {
	height: 50px;
	background-color: #000000;
	line-height: 50px;
	z-index: 6;
	padding: 0 15px;
	border-radius: 50px;
	margin-right: -50px;
}
.login-panel .error-msg {
	padding: 0 40px 0 15px;
	margin-right: -25px;
	border-radius: 50px 0 0 50px;
}
.login-panel input {
	width: 200px;
	height: 50px;
	padding: 0 50px 0 15px;
	margin-right: -50px;
	font-size: 16px;
	border: none;
	border-radius: 50px;
	font-family: Tahoma;
	outline: none;
	/* Костыль для хрома */
	box-shadow: none;
	-webkit-box-shadow: 0 0 0px 1000px white inset;
	z-index: 7;
}
.login-panel .btn {
	float: right;
	cursor: pointer;
	height: 50px;
	padding: 0 15px 0 58px;
	text-align: center;
	border: none;
	border-radius: 50px;
	background-color: #383838;
	color: #ffffff;
	font-size: 16px;
	font-family: Impact;
	z-index: 5;
    outline: none;
}
.login-panel .reg {
	line-height: 50px;
	text-decoration: none;
	float: left;
	margin-right: -50px;
	padding: 0 58px 0 15px;
	z-index: 6;
}
/*******************************************************************/
.allin-block {
	display: block;
	height: 100vh;
	background-color: #00a0fe;
	background-image: url(../img/bg-cover.png);
	background-position: center;
	background-size: cover;
	color: white;
	box-shadow: 0 0 25px rgba(0,0,0,0.8);
}
/*******************************************************************/
.allin-block .title-block {
	position: absolute;
	width: 300px;
	height: 160px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	font-family: Impact;
	font-weight: 200;
	color: #ffffff;
	line-height: 0.95;
}
.title-block .title-main {
	color: #ffffff;
	font-size: 4.4em;
}
.title-block .title-startup {
	font-size: 2.3em;
	display: inline;
}
.title-block .title-name {
	margin-top: 2px;
	font-size: 0.9em;
	text-transform: uppercase;
	line-height: 1.4;
    font-family: Arial Black;
}
/*******************************************************************/
.content-box {
	margin: 0 20vw;
	padding: 40px 0;
	font-family: Verdana;
}
.content-box .content-box-title {
	margin-bottom: 40px;
	text-transform: uppercase;
	font-size: 1.8em;
	font-weight: bold;
}
.content-box .ab-box {
	display: inline-flex;
}
.content-box .ab-pic {
	margin-right: 20px;
	margin-bottom: 20px;
}
.content-box .ab-box img {
	width: 400px;
	border-radius: 1%;
}
.content-box .ab-text {
	margin-bottom: 40px;
	text-align: justify;
}
.content-box .ab-title {
	margin-bottom: 30px;
	font-size: 1.3em;
	font-weight: bold;
	line-height: 1;
}
.content-box .big-description{
	margin-top: -2.5em;
}
.content-box .contacts-block{
	margin-top: 3.5em;
    padding: 0 5vw;
    font-style: italic;
}
/*******************************************************************/
/*
.decorative-strip{
       display: block;
    height: 3px;
    width: 200px;
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: #ff7f28;
    margin-left: auto;
    margin-right: auto;
} 
*/
/*******************************************************************/
#block-about {
	min-height: 100vh; /* All-in-им блок */
	color: #262626;
}
#block-offers {
	background-color: #00a0fe;
	background-image: url(../img/bg-offer.png);
	background-position: center;
	background-size: cover;
	color: #fff;
	box-shadow: 0 0 8px rgba(0,0,0,0.5);
	padding-bottom: 50px;
}
/*******************************************************************/
/*                          Offers blocks                          */
/*******************************************************************/
.offers-wrap {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
}
.offer {
	margin: 0 20px;
	width: 100%;
	position: relative;
	text-transform: uppercase;
	background-color: #fff;
	border-radius: 0 0 30px 30px;
	box-shadow: 0 0 8px rgba(0,0,0,0.5);
	border: 4px solid;
}
.offer .offer-content {
	color: #000;
	position: relative;
	text-align: center;
	margin: 10px 8px 0 8px;
	font-size: 12px;
	word-wrap: break-word;
	margin-bottom: 100px;
}
#offer-button-link div {
    color: white;
}
.offer .offer-title {
	left: 0;
	right: 0;
	margin: auto;
	margin-top: -1px;
	font-size: 48px;
	text-align: center;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 5px;
}
.offer .offer-ttext {
	left: 0;
	right: 0;
	margin: auto;
	margin-top: 5px;
	font-weight: normal;
	font-size: 13px;
	text-align: center;	
}
.offer .offer-button { 
	color: white;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 10px;
	width: 80%;
	margin: auto;
	padding: 8px;
	border: 2px solid;
	border-radius: 40px; 
	text-align: center;
	cursor: pointer;
}
#opi {
	margin-left: 0;
	border-color: #61ac59
}
#opi .offer-title {
	background-color: #61ac59;
}
#opi .offer-button { 
	border-color: #61ac59;
	background-color: #61ac59;
}
#opi .offer-button:hover {
	background-color: #ffffff;
	color: #61ac59;
}
#kik {
	border-color: #ac5868;
}
#kik .offer-title {
	background-color: #ac5868;
}
#kik .offer-button {
	border-color: #ac5868;
	background-color: #ac5868;
}
#kik .offer-button:hover {
	background-color: #ffffff;
	color: #ac5868;
}
#smt {
	margin-right: 0;
	border-color: #ac9558;
}
#smt .offer-title {
	background-color: #ac9558;
}
#smt .offer-button {
	border-color: #ac9558;
	background-color: #ac9558;
}
#smt .offer-button:hover {
	background-color: #ffffff;
	color: #ac9558;
}

/*******************************************************************/
/*                                                                 */
/*                          Страница ОПИ                           */
/*                                                                 */
/*******************************************************************/

/* TODO: Название недоработано: неправильно реагирует на ужимание  */
.opi-allin-block {
	display: block;
	background-color: #00a0fe;
	background-image: url(../img/bg-cover.jpg);
	background-position: center;
	background-size: cover;
	color: white;
	box-shadow: 0 0 25px rgba(0,0,0,0.8);
}
.opi-allin-block .title-block {
	text-align: left;
	position: absolute;
	width: 40vw;
	top: 20px;
	left: 0;
	right: 0;
	margin: auto;
	margin-right:45vw;
	font-family: Impact;
	font-weight: bold;
	color: #ffffff;
	line-height: 0.95;
}
.opi-allin-block .title-block .title-main {
	font-size:3.4em;
    text-align: left;
    font-weight: 100;
    margin-left: 6.1vw;
}
.content-box-opi {
/*	text-transform: uppercase;*/
	margin: 0 20vw;
	padding: 40px 0 20px 0;
	font-family: Tahoma;
}
.content-box-opi .small-description {
	margin-bottom: 5px;
    font-family: Verdana;
    text-transform: none;
    font-size: 1.1em;
}
.content-box-opi .div { /*Наверно, удалю*/
	margin-bottom: 5px;
    font-family: Verdana;
    text-transform: none;
}
.content-box-opi .content-box-semititle {
	font-size: 1.2em;
	font-weight: bold;
}
.content-box-opi .content-box-title {
	font-size: 1.6em;
	font-weight: bold;
}
.content-box-opi .test-block{
	margin-top: 15px;
}
.content-box-opi .test-block .cand-form {
	display: none;
}
#cand-0 {
	display: block;
}
.content-box-opi .test-block .radio-block {
	font-weight: bold;
	margin-bottom: 10px;
}
.content-box-opi .test-block .radio-block label {
	margin-top: 0px;
	margin-bottom: 0px;
	font-weight: normal;
}
.content-box-opi .test-block .radio-block input {
	margin-right: 15px;
}
.content-box-opi .test-block .radio-block .inblock-string {
	font-weight: normal;
	display: inline-flex;
	width:100%;
	align-items: center;
}
.content-box-opi .test-block .radio-block .minitext {
	width:70%;
    text-transform: none;
    font-weight: 100;
    font-family: Verdana;
    margin-bottom: 10px;
}
.content-box-opi .test-block .radio-block .name-block {
    margin-bottom: 5px;
}
.content-box-opi .test-block .test-button {
	margin-top: 30px;
	max-width: 240px;
	padding: 8px;
	border: 2px solid;
	border-radius: 40px; 
	text-align: center;
	cursor: pointer;
	color: #ffffff;
	border-color: #383838;
	background-color: #383838;
	font-size: 1em;
}
.content-box-opi .test-block .test-button:hover {
	color: #000000;
	background-color: #ffffff;
}
/*******************************************************************/
/*                                                                 */
/*                      Страница Регистрации                       */
/*                                                                 */
/*******************************************************************/
.reg-form {
	position: absolute;
	justify-content: space-between;
	align-items: center;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 700px;
}
.reg-title-block {
	width: 300px;
	height: 160px;
	font-family: Impact;
	font-weight: 200;
	color: #ffffff;
	line-height: 0.95;
}
.reg-title-block .title-main {
	color: #ffffff;
	font-size: 4.4em;
}
.reg-title-block .title-startup {
	font-size: 2.3em;
	display: inline;
}
.reg-title-block .title-name {
	margin-top: 2px;
	font-size: 0.9em;
	text-transform: uppercase;
	line-height: 1.4;
    font-family: Arial Black;
}
.reg-block {
	width: 300px;
	background-color: #ffffff;
	border-radius: 25px; 
	padding-bottom: 30px;
	padding-top: 15px;
	font-family: Impact;
	font-weight: bold;
	text-transform: uppercase;
	color:#353535;
}
.reg-block .title {
	font-size:20px;
	margin-left:10%;

}
.reg-block .title .semititle {
	font-family: Tahoma;
	font-weight: normal;
	text-transform: none;
	font-size:	16px;
}
.reg-block span {
	width:100%;
	font-size:16px;
}
.reg-block input {
    padding: 5px;
	width:100%;
	font-size:16px;
	border-color:#999999;
	color:#353535;
	border-width: 2px;
    border-style: solid;
}
.reg-block .line {
	margin-top:10px;
	width:80%;
	margin-right:10%;
	margin-left:10%;
}
.reg-form .buttons {
	width:100%;
	display:inline-flex;
	justify-content: space-between;
}
.reg-form .buttons a{
	text-decoration: none;
}
.button-back {
	font-family: Tahoma;
	text-transform: uppercase;
	font-size:16px;
/*	text-decoration: none; Не работает*/
	margin: 10px;
	margin-left:0;
	padding: 8 12 8 12px;
	color: #353535;
	background-color: #ffffff;
	border: 2px solid #353535;
	border-radius: 40px; 
	text-align: center;
	cursor: pointer;
}
.button-back:hover {
	background-color: #353535;
	color: #ffffff;
	border: 2px solid #353535;
}
.button-reg {
	float:right;
	font-family: Tahoma;
	text-transform: uppercase;
	font-size:16px;
	margin: 10px;
	margin-right:0;
	padding: 8 12 8 12px;
	background-color: #353535;
	color: #ffffff;
	border: 2px solid #353535;
	border-radius: 40px; 
	text-align: center;
	cursor: pointer;
}
.button-reg:hover {
	color: #353535;
	background-color: #ffffff;
	border: 2px solid #353535;
}
.reg-block .reg-end {
	width:80%;
	margin:auto;
	bottom: 0;
    font-family: Tahoma;
	font-size:16px;
    margin-bottom: -10px;
    font-weight: 100;
    text-transform: none;
}
.reg-endb {
	width:80%;
	justify-content: center;
}
.reg-endb a {
	width:90%;
}
.buttons .reg-end {
	width:100%;
}
/*******************************************************************/
/*                           OPI Diagram                           */
/*******************************************************************/
.progress-bar-wrap {
	display: inline-flex;
	width: 100%;
}
/* TODO: Сделайте стили для пережатия,
                                   чтобы разбивалось на две строки */
.progress-bar-text {
	display: inline-block;
	color: #000;
	margin-right: 10px;
	max-width: 30%;
}
.progress-bar {
	display: inline-block;
	width: 100%;
}
.progress-bar > .progress-data {
	background-color: #61ac59;
	padding: 2px;
	color: #fff;
}
/*******************************************************************/
/*                       	  КИТ		                           */
/*******************************************************************/
.button-kit{
	text-decoration: none;
	font-family: Tahoma;
	text-transform: uppercase;
	font-size:16px;
	margin: 10px;
	padding: 8 12 8 12px;
	background-color: #353535;
	color: #ffffff;
	border: 2px solid #353535;
	border-radius: 40px; 
	text-align: center;
	cursor: pointer;
}
.button-kit:hover{
	background-color: #ffffff;
	color: #353535;
}
.file-kit{

	margin-top:10px;
    padding: 5px;
	width:80%;
	font-size:16px;
	border-color:#999999;
	border-width: 2px;
    border-style: solid;
}
.not-reg{
	color: orange;
	font-family: Tahoma;
	font-weight: bold;
}

/*******************************************************************/
/*                          SMALL SCREENS                          */
/*******************************************************************/
@media screen and (max-width: 991px),
	   screen and (max-device-width: 991px)
{
	.content-box .ab-box img {
		width: 300px;
	}
}
/*******************************************************************/
@media screen and (max-width: 768px),
	   screen and (max-device-width: 768px)
{
    .footer-content .footer-content-left {
        margin-top: 20px;
        float: none;
    }
    .footer-content .footer-content-right {
        float: none;
    }
    .footer-content .footer-content-right p {
        text-align: center;
    }
    .footer-content .footer-content-left a {
        text-align: center;
    }
	.title-block {
		width: 270px;
		/* background-color: aquamarine; */
		font-weight: 900;
	}
	.title-block .title-main {
		font-size: 3.2em;
	}
	.title-block .title-startup {
		font-size: 1.8em;
	}
	.title-block .title-name {
		font-size: 0.8em;
	}
	.offers-wrap {
		flex-direction: column;
		align-items: center;
	}
	.offer {
		height: 240px;
		margin: 20px;
	}
	.content-box .content-box-title {
		font-size: 1.5em;
	}
	.content-box .ab-box {
		flex-direction: column;
	}
	.content-box .ab-title {
		text-align: center;
		font-size: 1.2em;
	}
	.content-box .ab-box .ab-pic {
		text-align: center;
		margin-right: 0;
	}
	.content-box .ab-box img {
		width: 85%;
	}
	.content-box .ab-text {
		margin-bottom: 50px;
		font-size: 0.9em;
	}
}
/*******************************************************************/