/*****************************************************************************/
* {
	margin: 0;
	padding: 0;
}
body {
	width: 100%;
	height: 100%;
	font-family: "Arial";
}
/*****************************************************************************/
.header {
	position: fixed;
	/* width: 100%; */
	right: 0;
	z-index: 9;
}
.header-content {
	margin: 20px; /* искусственный padding, для width = 100% */
}
/*****************************************************************************/
/* .wrapper {} /* Он полностью динамичный */
/*****************************************************************************/
.footer {
	height: 200px;
	color: #fff;
	background-color: #353535;
	box-shadow: 0 0 8px rgba(0,0,0,0.5);
}
.footer-content {
	margin: 0 10vw 0 10vw;
	padding: 20px 0 20px 0;
}
/*****************************************************************************/
/*                                TOOLS                                      */
/*****************************************************************************/
.orange {
	color: #ff7f28;
}
.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome and Opera */
  }
/*****************************************************************************/
#logo {
	margin: 20px;
	display: inline-flex;
	text-decoration: none;
	color: #ffffff;
}
#logo div {
	display: inline-block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #ffffff;
	/* Возможно, с тенью будет стилявее? */
	/* box-shadow: 0 0 5px rgba(0,0,0,0.5); */
}
#logo span {
	display: inline-flex;
	top: 0;
	bottom: 0;
	margin: auto;
	margin-left: 10px;
	font-family: Impact;
	font-size: 20px;
	/* text-shadow: 0 0 5px rgba(0,0,0,0.5); */
}
/*****************************************************************************/
.login-panel {
	display: inline-flex;
	float: right;
	border-radius: 50px;
	background-color: #fff;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.login-panel span {
	padding-left: 20px;
	padding-right: 30px;
	height: 50px;
	background-color: #fff;
	border-radius: 50px;
	line-height: 50px;
}
.login-panel input {
	width: 170px;
	height: 50px;
	padding: 0 15px;
	font-size: 16px;
	border: none;
	border-radius: 50px;
	font-family: Impact;
}
.login-panel button {
	float: right;
	cursor: pointer;
	height: 50px;
	padding: 0 15px 0 40px;
	margin-left: -30px;
	text-align: center;
	border: none;
	border-radius: 0 50px 50px 0;
	background-color: #383838;
	color: #ffffff;
	font-size: 16px;
	font-family: Impact;
}
.login-panel button:hover .material-icons {
	color: #00a0fe;
}
/*****************************************************************************/
.allin-block {
	display: block;
	height: 100vh;
	background-color: #00a0fe;
	background-image: url(../img/bg-cover.jpg);
	background-position: center;
	background-size: cover;
	color: white;
	box-shadow: 0 0 8px rgba(0,0,0,0.5);
}
/*****************************************************************************/
.title-block {
	position: absolute;
	width: 300px;
	height: 160px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	/* background-color: aquamarine; */
	font-family: Impact;
	font-weight: bold;
	color: #000000;
	line-height: 0.95;
}
.title-block .title-main {
	color: #ffffff;
	font-size: 4.4em;
}
.title-block .title-startup {
	font-size: 2.3em;
	display: inline;
}
.title-block .title-name {
	margin-top: 2px;
	font-size: 1.2em;
	text-transform: uppercase;
	line-height: 1.4;
}
/*****************************************************************************/
.content-box {
	margin: 0 10vw;
	padding: 40px 0;
	font-family: Tahoma;
}
.content-box .content-box-title {
	margin-bottom: 40px;
	text-transform: uppercase;
	font-size: 1.8em;
	font-weight: bold;
}
.content-box .ab-box {
	display: inline-flex;
}
.content-box .ab-pic {
	margin-right: 20px;
	margin-bottom: 20px;
}
.content-box .ab-box img {
	width: 400px;
	border-radius: 1%;
}
.content-box .ab-text {
	/* text-transform: uppercase; */
	margin-bottom: 40px;
	text-align: justify;
}
.content-box .ab-title {
	margin-bottom: 5px;
	font-size: 1.3em;
	font-weight: bold;
	line-height: 1;
}
/*****************************************************************************/
#block-about {
	color: #000;
}
#block-offers {
	background-color: #00a0fe;
	color: #fff;
	box-shadow: 0 0 8px rgba(0,0,0,0.5);
}
/*****************************************************************************/
.offers-wrap {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
}
.offer {
	margin: 0 20px;
	width: 100%;
	height: 300px; /* временно, должно быть по-контенту */
	background-color: #fff;
	border-radius: 0 0 20px 20px;
	box-shadow: 0 0 8px rgba(0,0,0,0.5);
}
/*****************************************************************************/
/*					Small blocks content		 							*/
/*****************************************************************************/
#opi{
	background-color: rgb(97, 172, 89);
	color: #ffffff;
}
.offer .opi-box{
	margin-top:5px;
	margin-left:5px;
	margin-right:5px;
	
	background-color: #ffffff;
	color: #000000;
	text-align: center;
	text-transform: uppercase;
	font-size: 13px;
	padding-bottom: 50px;
}
.offer .castil-block{
	height: 100px;
	background-color: #ffffff;
	border-radius:15px;
	margin-left:5px;
	margin-right:5px;
	margin-top: -15px;
}
.offer .offer-title{
	left: 0;
	right: 0;
	margin: auto;
	font-size: 48px;
	text-align: center;
	font-weight: bold;
}
.offer .offer-ttext{
	left: 0;
	right: 0;
	margin: auto;
	font-size: 13px;
	text-align: center;
}
/*****************************************************************************/
#kik { /* Это добавить в offer и сделать универсальным */
	position: relative;
	border: 4px solid #ac5868;
}
#kik .offer-title { /* Ну тоже сделать универсальным */
	background-color: #ac5868;
	padding-bottom: 5px;
}
#kik .offer-content { /* Докрутить и сделать универсальным */
	color: #000;
	position: relative;
	text-align: center;
	margin-top: 10px; /* Это, как и все размеры - от балды, поправьте по ТЗ */
}
#kik .offer-button { /* Аналогично, не только для кик-а */
	position: absolute;
	left: 0;
	right: 0;
	bottom: 10px;
	width: 80%;
	margin: auto;
	padding: 8px;
	border: 2px solid #ac5868;
	background-color: #ac5868;
	border-radius: 40px; 
	text-align: center;
	cursor: pointer;
}
#kik .offer-button:hover { /* И это не забудьте */
	background-color: #ffffff;
	color: #ac5868;
}
/*****************************************************************************/
/*                               SMALL SCREENS                               */
/*****************************************************************************/
@media screen and (max-width: 991px), screen and (max-device-width: 991px) {
	.content-box .ab-box img {
		width: 300px;
	}
}
@media screen and (max-width: 768px), screen and (max-device-width: 768px) {
	.title-block {
		width: 270px;
		/* background-color: aquamarine; */
		font-weight: 900;
	}
	.title-block .title-main {
		font-size: 3.2em;
	}
	.title-block .title-startup {
		font-size: 1.8em;
	}
	.title-block .title-name {
		font-size: 0.8em;
	}
	.offers-wrap {
		flex-direction: column;
		align-items: center;
	}
	.offer {
		height: 200px;
		margin: 20px;
	}
	.content-box .content-box-title {
		font-size: 1.5em;
	}
	.content-box .ab-box {
		flex-direction: column;
	}
	.content-box .ab-title {
		text-align: center;
		font-size: 1.2em;
	}
	.content-box .ab-box .ab-pic {
		text-align: center;
		margin-right: 0;
	}
	.content-box .ab-box img {
		width: 85%;
	}
	.content-box .ab-text {
		margin-bottom: 50px;
		font-size: 0.9em;
	}
}